* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: GoogleSands;
}
@font-face {
    font-family: GoogleSands;
    src: url("/src/assets/fonts/notosans-regular.2cb88a13.woff2");
}
@font-face {
    font-family: GoogleSands Bold;
    src: url("/src/assets/fonts/notosans-bold.3ede5aff.woff2");
}
@font-face {
    font-family: GoogleSands Italic;
    src: url("/src/assets/fonts/notosans-italic.1c1aaac9.woff2");
}

.header{
    background-color: #FFFFFF;
    width: 100%;
    height: 56px;
    opacity: 100%;
    position: absolute;
}
.rectangle1{    
    background-color: #D9D9D9;
    width: 32px;
    height: 32px;
    opacity: 100%;
    border-radius: 8px;
    margin-top: 12px;
    margin-left: 56px;
    float: left;
    
}
.rectangle2{    
    background-color: #D9D9D9;
    width: 385px;
    height: 36px;
    float: left;
    margin-top: 10px;
    margin-left: 224px;
}
.image{
    background-color: #DDDDDD;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    top: 10px;
    position: absolute;
    right: 24px;
}
.content{
    width: 100%;
    float: left;
    height: calc(100vh - 56px) ;
    position: relative;
    top: 56px;
}
/* menu */



.content_left{
    height: 100%;
    width: 200px;
    background-color: #041434;
    float: left;
    display: flex;
    opacity: 100%; 
    flex-direction: column;
    row-gap: 4px;

}

.content_left_general{
    background-color: #3d5991;
    height: 40px;
    width: 176px;
    position: relative;
    border-radius: 4px 4px 4px 4px;
    left: 12px;
    top: 8px;
}

.content_left_1_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -33px -1630px;
	width: 18px;
	height: 24px;
    position: absolute;
    left: 15px;
    top: 10px;
    align-items: center;
    
}
.content_left_1_item2{
    position: absolute;
    top: 12.5px;
    left: 48px;
    bottom: 12.5px;
    background-color: #3d5991;
    border: unset;
    cursor: pointer;
}

span{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 0px;
}

.content_left_2_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -78px -1631px;
	width: 14px;
	height: 18px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_3_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -121px -1633px;
	width: 16px;
	height: 16px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_4_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -165px -1632px;
	width: 16px;
	height: 18px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_5_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -206px -1631px;
	width: 20px;
	height: 18px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_6_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -254px -1632px;
	width: 14px;
	height: 17px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_7_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -294px -1632px;
	width: 18px;
	height: 17px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_8_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -339px -1633px;
	width: 18px;
	height: 17px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_9_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -382px -1632px;
	width: 17px;
	height: 18px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_10_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -427px -1634px;
	width: 16px;
	height: 16px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_11_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -471px -1633px;
	width: 17px;
	height: 17px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_12_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -514px -1632px;
	width: 16px;
	height: 18px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_13_item1{
   background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -382px -1664px;
	width: 16px;
	height: 16px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_14_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -552px -1636px;
	width: 14px;
	height: 13px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.content_left_15_item1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -207px -1667px;
	width: 17px;
	height: 14px;
    position: absolute;
    left: 15px;
    top: 12px;
}
.content_right{
    width: calc(100% - 200px);
    height: 100%;
    background-color: #EEEFF1;
    float: left;
    position: absolute;
    left: 200px;
}

.title{
    /* width: 173px;
    height: 29px; */
    opacity: 100%;
    position: absolute;
    top: 17.5px;
    left: 24px;
    fill: #1F1F20;
    font-weight: 700;
    font-size: 24px;
    font-style: Bold;
    letter-spacing: 0px;
    font-family: GoogleSands Bold;
}


.themmoi{
    background-color: #50B83C ;
    width: 150px;
    height: 36px;
    opacity: 100%;
    position: absolute;
    top: 16px;
    right: 72px;
    bottom: 660px ;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.themoi_txt{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}


.main{
    background-color: #FFFFFF;
    height: calc(100vh - 48px - 124px);
    width: calc(100% - 48px);
    border-radius: 4px;
    opacity: 100%;
    position: absolute;
    top: 68px;
    left: 24px;
    right: 24px;
}
.m-input{
    position: absolute;
    top: 12px;
    right: 72px;
    width: 280px;
    height: 36px;
    color: #000000;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    border-color: #E0E1E4;
    outline: none;
    padding-left: 8px;
    background-color: unset;
}
.m-input::placeholder{
    font-size: 14px;
    color: #9EA0A5;
    font-weight: 400;
}
.reload{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -1098px -90px;
	width: 20px;
	height: 21px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 20.5px;
    
}


.m-paging{
    background-color: #F5F5F5;
    height: 56px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #E0E0E0;
}
