.popup{
    position: fixed;
    width: 100vw ;
    height: 100vh;
    top: 0px;
    background-color: #0000004b;
}
.popup-form{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 250px;
    background-color: #fff;
    border-radius: 4px;
    transform: translate(-50%, -50%);
}
.popup_btn{
    position: absolute;
    top: 24px;
    right: 24px;
    background-image: url('/src/assets/img/close-icon.png');
    width: 24px;
    height: 24px;
    border: unset;
    background-color: unset;
    cursor: pointer;
}
.popup__header{
    padding: 24px;
    font-weight: 700;
    font-size: 24px;
}
.popup__body{
    padding: 0 24px 24px 24px;
}
.popup__footer{
    background-color: #F5F5F5;
    padding: 12px 24px;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #E0E0E0;
}
.employee-info{
    display: flex;
    column-gap: 16px;
    flex-wrap: wrap;
    row-gap: 24px;
}

.general-info-left{
    
    width: calc(50% - 8px);
}
.general-info-right{
   
    
    width: calc(50% - 8px);
}
.contact-info{
    
    width: 100%;
}

/* footer */
.btn{
    height: 36px;
    border-radius: 4px;
    border: unset;
    cursor: pointer;
    padding: 0 12px;
    color: #fff;
    min-width: 80px;
}
.btn--default{
    background-color: #50B83C !important;
    color: #FFFFFF !important;
}
.popup__footer button{
    border: 1px solid #E0E0E0;
    color: #212121;
    background-color: #FFFFFF;
}
#input-wrapper {
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    -moz-column-gap: 8px;
    column-gap: 8px;
}