.update{
    border: unset;
    background-color: unset;
    cursor: pointer;
    color: #007AFF;
}
.down-update{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -900px -365px;
	width: 8px;
	height: 5px;
    border: unset;
    background-color: unset;
    margin-left: 12px;
    cursor: pointer;
    
}