.header-left{
    height: 56px;
    width: 200px;
    background-color: #03102a;
    float: left;
}
.logo_1{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -1157px -32px ;
	width: 16px;
	height: 16px;
    margin-top: 20px;
    margin-left: 20px;
}
.logo_2{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -1232px -1016px;
	width: 44px;
	height: 44px;
   position: absolute;
   top: 6px;
   left: 44px;
}
.logo_title{
    position: absolute;
    top: 16px;
    left: 100px;
    height: 24px;
    width: auto;
}
.logo_title p {
    color: aliceblue;
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
}
.header-right{
    height: 56px;
    width: calc(100% - 200px);
    float: left;
    position: relative;
    
}
.header-right-icon{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -847px -35px;
	width: 16px;
	height: 16px;
    position: absolute;
    top: 20px;
    left: 12px;
}
.name-company{
    
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    width: 415px;
    top: 50%;
    transform: translateY(-50%);
    left: 48px;
    
}
.name-company-dropdown{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -467px -414px;
	width: 10px;
	height: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 467px;
}
.icon-bell{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -788px -30px;
	width: 22px;
	height: 25px;
    position: absolute;
    top: 15.5px;
    right: 200px;
}
.header-right-img{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -352px -894px;
	width: 32px;
	height: 32px;
    position: absolute;
    right: 140px;
    top: 12px;
    border-radius: 50%;
}


.name-customer{
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-family: GoogleSands;
}


