.table__toolbar{
    display: flex;
    position: relative;
}

.search_employee{
    border: 1px solid #50B83C;
    order: 1;
    margin: 10px 0 20px 10px;

}
.input_search-text{
    height: 24px;
    box-sizing: border-box;
    padding: 0 12px;
    border: unset;
    outline: unset;
    line-height: 24px;
}
.lupe {
    background: url(../../../assets/icon/th.jpg) no-repeat ;
	width: 22px;
	height: 22px;
    background-size: 20px;
    background-color: unset;
    background-position: center;
    margin-left: 76px ;
    border: none;
    margin:  5px 10px;
    cursor: pointer;

}
.combobox_dataa{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    position: absolute;
    background-color: #fff;
    top: calc(100% + 2px);
    box-shadow: 0 0 5px #ccc ;
    z-index: 999;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
}
.combobox__data-item{
    height: 36px;
    border: 1px solid #fff;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
}
.combobox__data-item:hover,.data-item--selected{
    background-color: #50B83C;
}
.restart{
    background: url(../../../assets/img/Sprites.64af8f61.svg) no-repeat -1098px -90px;
	width: 24px;
	height: 24px;
    border: unset;
    background-color: unset;
    margin: 10px 10px 15px 10px;
    cursor: pointer;
}